@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.transition-effect{
    transition: ease-in-out .3s;
}

.gradient{
background: #B993D6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

dialog::backdrop{
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    transition: easi-in-out 1s;
}